@import "_variables";
@import "_typography";
//#region navigation bar
header {
  position: sticky;
  top: 0;
  z-index: 999;

  #navbar {
    display: flex;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo nav user"
                          "null null null";
    position: relative;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    background: $bg-drk-500;
    border-bottom: 1px solid color-luminosity($light-500, -50);
    padding-inline: $margins;

    li {
      list-style: none;
    }

    #logo {
      position: absolute;
      height: 90px;
      margin-top: 30px;
      filter: drop-shadow(0 0 16px color-opacity($accent-500, 0.4));
    }

    #brand {
      display: flex;
      align-items: center;

      &::after {
        $size: 2600px;
        position: absolute;
        pointer-events: none;
        content: '';
        height: $size;
        aspect-ratio: 1;
        background: radial-gradient(color-opacity($accent-500, 0.08), color-opacity($accent-500, 0) 60%);
        top: calc($size / -2 + 50px);
        left: calc($size / -2 + 50px);
        z-index: -999;
      }
    }

    .logo-txt {
      position: absolute;
      left: 120px;
      color: #d0d0d0;
      background: linear-gradient(to right, $accent-500 50%, $light-500 60%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-wrap: nowrap;
      font-family: archivo, sans-serif;
      font-size: 2.5vw;
      font-weight: 900;
      letter-spacing: -0.2em;
      word-spacing: 0.2em;
      padding-right: 10px;
    }

    .nav-links {
      display: flex;
      gap: 5vw;
      grid-area: nav;
      justify-self: center;
      a {
        @include font_ui_element(1.5em);
      }

    }



    #user-tools {
      justify-self: end;
      display: flex;
      gap: 1vw;
      .user-avatar{
        width: 100%;
      }
    }
  }
}

//#endregion