@import "variables";
body{
  overflow: clip;
}
#login{
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: auto;
  width: 500px;
  justify-content: space-around;
  font-size: 1.5em;
  margin: 50px auto ;
  border: 1px solid $light-500;
  padding: 50px 100px 100px;
  border-radius: 20px;
  background: $bg-drk-500;
  box-shadow: 20px 20px 80px black;
}
.d-flex{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label{
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0.9em;
}

button{
  font-size: 1em;
  margin-bottom: 120px;
}
p{
  align-self: center;
  text-align: center;

}
a{
  font-size: 0.8em;
  color: $accent-500;
  align-self: center;
  text-align: center;
}
.error{
  animation: fadeOut 3s forwards;
  color: red;
  position: absolute;
  bottom: 60px;
  filter: drop-shadow(0 0 30px $accent-500) drop-shadow(0 0 10px red);

}
@keyframes fadeOut {
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    color: $accent-500;
  }
}