/*---COLORS---*/
/*---SIZING---*/
@font-face {
  font-family: "lexend";
  src: url("../fonts/Lexend-VariableFont_wght.woff");
}
@font-face {
  font-family: "archivo";
  src: url("../fonts/ArchivoBlack-Regular.woff");
}
@font-face {
  font-family: "jakarta";
  src: url("../fonts/PlusJakartaSans-VariableFont_wght.woff");
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #191B1E;
  color: #d0d0d0;
  font-family: jakarta, serif;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}
header #navbar {
  display: flex;
  position: relative;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  background: #191B1E;
  border-bottom: 1px solid hsl(from #d0d0d0 h s calc(l - 50));
  padding-inline: 20px;
}
header #navbar li {
  list-style: none;
}
header #navbar #logo {
  position: relative;
  height: 90px;
  margin-top: 30px;
  filter: drop-shadow(0 0 16px hsl(from #FFD369 h s l/0.4));
}
header #navbar #brand {
  display: flex;
  align-items: center;
}
header #navbar #brand::after {
  position: absolute;
  pointer-events: none;
  content: "";
  height: 2600px;
  aspect-ratio: 1;
  background: radial-gradient(hsl(from #FFD369 h s l/0.08), hsl(from #FFD369 h s l/0) 60%);
  top: -1250px;
  left: -1250px;
  z-index: -999;
}
header #navbar .logo-txt {
  color: #d0d0d0;
  background: linear-gradient(to right, #FFD369 50%, #d0d0d0 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-wrap: nowrap;
  font-family: archivo, sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  letter-spacing: -0.2em;
  word-spacing: 0.2em;
  padding-right: 10px;
}
header #navbar .nav-links {
  display: flex;
  gap: 5vw;
}
header #navbar .nav-links a {
  font-size: 1.5em;
  font-family: jakarta, sans-serif;
  color: #d0d0d0;
  text-decoration: none;
}
header #navbar #user-tools {
  display: flex;
  gap: 1vw;
}

.btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0d0d0;
  color: #393E46;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.btn:focus {
  /*TODO: button focus style*/
}
.btn:hover {
  /*TODO: button hover style*/
}
.btn-long {
  display: inline-flex;
  align-items: center;
  aspect-ratio: auto;
  padding-inline: 15px;
}
.btn-accent {
  color: #393E46;
  background: #FFD369;
}

.trends {
  margin-inline: 20px;
  margin-top: 50px;
}
.trends-grid {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.trends .trends-item {
  display: grid;
  justify-items: end;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 3fr 2fr 8fr 3fr 2fr;
  grid-template-areas: "top-right top-right" "top-left top-right2" "mid-left mid-right" "bot-left bot-right" "bot-left bot-right2";
  position: relative;
  height: 270px;
  overflow: hidden;
  max-width: 450px;
  min-width: 350px;
}
.trends .trends-item-large {
  max-width: 720px;
  min-width: 550px;
  grid-template-columns: 2fr 8fr 4fr;
  grid-template-rows: 3fr 2fr 8fr 3fr 2fr;
  grid-template-areas: "top-right top-right prev" "top-left top-right2 prev" "mid-left mid-right prev" "bot-left bot-right prev" "bot-left bot-right2 prev";
  border: 1px solid #FFD369;
}
.trends .trends-item-large-preview {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  grid-area: prev;
  z-index: -80;
}
.trends .trends-item h2 {
  grid-area: bot-right;
  margin-inline: 20px;
  font-weight: bold;
  align-self: end;
}
.trends .trends-item h3 {
  grid-area: bot-right2;
  margin-inline: 20px;
  font-size: 1em;
  font-weight: 100;
}
.trends .trends-item .avatar {
  grid-area: bot-left;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #d0d0d0;
}
.trends .trends-item .tag-list {
  grid-area: top-right;
  align-self: center;
  margin-inline: 20px;
}
.trends .trends-item-thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: contain;
  z-index: -50;
}
.trends .trends-item .shadow {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent, black);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
  will-change: opacity;
  opacity: 0.6;
  z-index: -40;
  transition: 1s;
  border: transparent solid 1px;
}
.trends .trends-item:hover .shadow {
  opacity: 0.8;
  border: #FFD369 solid 1px;
}

.tag {
  border: 1px solid #d0d0d0;
  background: hsl(from #d0d0d0 h s l/0.3);
  border-radius: 50px;
  padding-inline: 20px;
}

.search {
  margin: 20px;
  position: sticky;
  top: 90px;
}
.search-filter, .search-input {
  font-size: 1.6em;
  font-family: jakarta, sans-serif;
  color: #393E46;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 50px;
  background: #d0d0d0;
}

.gallery {
  padding-bottom: 300px;
}
.gallery .grid {
  display: grid;
  gap: 5px;
  grid-template-areas: "a c" "a b";
  grid-template-columns: auto 12fr;
  grid-template-rows: 55px 8fr;
}
.gallery .filters {
  position: sticky;
  top: 120px;
  left: 0;
  height: 50px;
  width: 100px;
  background: #d0d0d0;
  grid-area: a;
  border-radius: 0 50px 50px 0;
  margin-inline: 20px;
  transition: all 0.25s ease-in-out, border-radius 0.5s ease-in-out, margin 0.35s ease-in-out;
}
.gallery .filters:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  height: 600px;
  background: #d0d0d0;
  width: 0px;
  border-radius: 0 50px 50px 50px;
}
.gallery .filters:hover {
  height: 60px;
  width: 200px;
  border-radius: 0 30px 0 0;
  margin-right: 340px;
}
.gallery .filters:hover:after {
  top: 60px;
  left: 0;
  height: 600px;
  width: 200%;
  border-radius: 0 30px 30px 0;
}
.gallery .search-input {
  position: sticky;
  top: 120px;
  height: 50px;
  width: 500px;
  background: #444;
  grid-area: c;
  border-radius: 50px;
  color: #393E46;
  background: #d0d0d0;
}
.gallery .mini-grid {
  margin-left: -140px;
  grid-area: b;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: space-around;
  justify-items: center;
}
.gallery .grid-elem {
  width: 400px;
  aspect-ratio: 1;
  background: #222;
}
.gallery .grid-elem:hover {
  background: red;
}

footer {
  display: flex;
  align-items: center;
  flex-flow: row revert;
}
footer::after {
  position: absolute;
  pointer-events: none;
  content: "";
  height: 2600px;
  aspect-ratio: 1;
  background: radial-gradient(hsl(from #FFD369 h s l/0.08), hsl(from #FFD369 h s l/0) 60%);
  top: -1250px;
  left: -1250px;
  z-index: -999;
}
footer .logo-txt {
  color: #d0d0d0;
  background: linear-gradient(to right, #d0d0d0 50%, #FFD369 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-wrap: nowrap;
  font-family: archivo, sans-serif;
  font-size: 6.5vw;
  font-weight: 900;
  letter-spacing: -0.2em;
  word-spacing: 0.2em;
  padding-right: 0.3em;
}
footer .logo {
  position: relative;
  height: 120px;
  margin-top: 0;
  filter: drop-shadow(0 0 16px hsl(from #FFD369 h s l/0.4));
}

/*# sourceMappingURL=style.css.map */
