@import "_variables";
@import "_typography";


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-drk-500;
  color: $light-500;
  font-family: jakarta, serif;
}

//#region navigation bar
header {
  position: sticky;
  top: 0;
  z-index: 999;
  #navbar {
    display: flex;
    position: relative;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    background: $bg-drk-500;
    border-bottom: 1px solid color-luminosity($light-500, -50);
    padding-inline: $margins;

    li {
      list-style: none;
    }

    #logo {
      position: relative;
      height: 90px;
      margin-top: 30px;
      filter: drop-shadow(0 0 16px color-opacity($accent-500, 0.4));
    }

    #brand {
      display: flex;
      align-items: center;
      &::after{
        $size: 2600px;
        position: absolute;
        pointer-events: none;
        content: '';
        height: $size;
        aspect-ratio: 1;
        background: radial-gradient(color-opacity($accent-500,0.08) , color-opacity($accent-500,0) 60%);
        top: calc($size/-2 + 50px);
        left: calc($size/-2 + 50px);
        z-index: -999;
      }

    }

    .logo-txt {
      color: #d0d0d0;
      background: linear-gradient(to right, $accent-500 50%, $light-500 60%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-wrap: nowrap;
      font-family: archivo, sans-serif;
      font-size: 2.5vw;
      font-weight: 900;
      letter-spacing: -0.2em;
      word-spacing: 0.2em;
      padding-right: 10px;
    }

    .nav-links {
      display: flex;
      gap: 5vw;

      a {
        @include font_ui_element(1.5em);
      }

    }

    #user-tools {
      display: flex;
      gap: 1vw;
    }
  }
}
//#endregion

//#region buttons
.btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-500;
  color: $drk-sub-500;
  height: $icon-size;
  aspect-ratio: 1;
  border-radius: 50px;
  border: none;
  cursor: pointer;

  &:focus {
    /*TODO: button focus style*/
  }

  &:hover {
    /*TODO: button hover style*/
  }

  &-long {
    display: inline-flex;
    align-items: center;
    aspect-ratio: auto;
    padding-inline: 15px;
  }

  &-accent {
    color: $drk-sub-500;
    background: $accent-500;
  }
}

//#endregion

//#region trending
.trends {
  margin-inline: $margins;
  margin-top: 50px;

  &-grid {
    //display: grid;
    //grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    //grid-template-columns: 3fr 2fr 2fr 2fr;

    display: flex;
    gap: $margins;
    justify-content: space-between;
  }

  .trends-item {
    display: grid;
    justify-items: end;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 3fr 2fr 8fr 3fr 2fr;
    grid-template-areas:  "top-right top-right"
                          "top-left top-right2"
                          "mid-left mid-right"
                          "bot-left bot-right"
                          "bot-left bot-right2";
    position: relative;
    height: 270px;
    overflow: hidden;
    max-width: 450px;
    min-width: 350px;

    &-large {
      max-width: 720px;
      min-width: 550px;
      grid-template-columns: 2fr 8fr 4fr;
      grid-template-rows:    3fr 2fr 8fr 3fr 2fr;
      grid-template-areas:    "top-right top-right prev"
                              "top-left top-right2 prev"
                              "mid-left mid-right prev"
                              "bot-left bot-right prev"
                              "bot-left bot-right2 prev";
      border: 1px solid $accent-500;

      &-preview {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        grid-area: prev;
        z-index: -80;

      }

    }

    h2 {
      grid-area: bot-right;
      margin-inline: $margins;
      font-weight: bold;
      align-self: end;
    }

    h3 {
      grid-area: bot-right2;
      margin-inline: $margins;
      font-size: 1em;
      font-weight: 100;
    }

    .avatar {
      grid-area: bot-left;
      justify-self: center;
      align-self: center;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid $light-500;
    }

    .tag-list {
      grid-area: top-right;
      align-self: center;
      margin-inline: $margins;
    }

    &-thumb {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: contain;
      z-index: -50;
    }

    .shadow{
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, black, transparent, black);
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 6;
      will-change: opacity;
      opacity: 0.6;
      z-index: -40;
      transition: 1s;
      border: transparent solid 1px;
    }
    &:hover{
      .shadow{
        opacity: 0.8;
        border: $accent-500 solid 1px;
      }
    }


  }
}

.tag {
  border: 1px solid $light-500;
  background: color-opacity($light-500, 0.3);
  border-radius: 50px;
  padding-inline: 20px;
}

//#endregion

//#region search bar
.search {
  margin: $margins;
  position: sticky;
  top: 90px;

  &-filter, &-input {
    @include font_ui_element(1.6em, $drk-sub-500);
    padding: 10px 40px;
    border-radius: 50px;
    background: $light-500;
  }
}

//#endregion

//#region gallery
.gallery{
  height: 5000px;
  $filter-btn-width: 100px;
  $gallery-elem-size: 400px;
  $round-opened: 30px;
  .grid{
    display: grid;
    gap: 5px;
    grid-template-areas:  "a c"
                          "a b";
    grid-template-columns: auto 12fr;
    grid-template-rows:55px 8fr;
  }
  .filters{
    position: sticky;
    top: 120px;
    left: 0;
    height: 50px;
    width: $filter-btn-width;
    background: $light-500;
    grid-area: a;
    border-radius: 0 50px 50px 0;
    margin-inline: $margins;
    transition: all 0.5s ease-in-out,
                border-radius 1.5s ease-in-out,
                margin 0.4s ease-in-out;
    &:after {
      content: '';
      position: absolute;
      top: 20px;
      left: 0;
      height: 600px;
      background: $light-500;
      width: 0px;
      transition: all 1.5s ease-in-out,
                  top 0.5s ease-in-out;
      border-radius: 0 50px 50px 50px;
    }
    &:hover{
      height: 60px;
      width: 200px;
      //border-radius: 30px;
      border-radius: 0 $round-opened 0 0;
      margin-right: calc($margins * 2 + $filter-btn-width + 200px);
      &:after{
        //transform: scaleY(10);
        top: 60px;
        left: 0;
        height: 600px;
        width: 200%;
        border-radius: 0 $round-opened $round-opened 0;
      }
    }
  }
  .search-input{
    position: sticky;
    top: 120px;
    height: 50px;
    width: 500px;
    background: #444;
    grid-area: c;
    border-radius: 50px;
    color: $drk-sub-500;
    background: $light-500;
  }
  .mini-grid{
    margin-left: calc($margins * -2 - $filter-btn-width);
    grid-area: b;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax($gallery-elem-size, 1fr));
    justify-content:space-around;
    justify-items: center;
  }
  .grid-elem{
    width:$gallery-elem-size;
    aspect-ratio: 1;
    background: #222;
    &:hover{
      background: red;
    }
  }

}
//#endregion

footer {
  //height: 2000px;
}