/*---COLORS---*/
/*---SIZING---*/
@font-face {
  font-family: "lexend";
  src: url("../fonts/Lexend-VariableFont_wght.woff");
}
@font-face {
  font-family: "archivo";
  src: url("../fonts/ArchivoBlack-Regular.woff");
}
@font-face {
  font-family: "jakarta";
  src: url("../fonts/PlusJakartaSans-VariableFont_wght.woff");
}
.trends {
  margin-inline: 20px;
  margin-top: 50px;
}
.trends-grid {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.trends .trends-item {
  display: grid;
  justify-items: end;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 3fr 2fr 8fr 3fr 2fr;
  grid-template-areas: "top-right top-right" "top-left top-right2" "mid-left mid-right" "bot-left bot-right" "bot-left bot-right2";
  position: relative;
  height: 270px;
  overflow: hidden;
  max-width: 450px;
  min-width: 350px;
}
.trends .trends-item-large {
  max-width: 720px;
  min-width: 550px;
  grid-template-columns: 2fr 8fr 3fr;
  grid-template-rows: 3fr 2fr 8fr 3fr 2fr;
  grid-template-areas: "top-right top-right prev" "top-left top-right2 prev" "mid-left mid-right prev" "bot-left bot-right prev" "bot-left bot-right2 prev";
  border: 1px solid #FFD369;
}
.trends .trends-item-large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trends .trends-item-large .trends-item-thumb {
  grid-column: 1/3;
  grid-row: 1/6;
}
.trends .trends-item-large .trends-item-thumb img {
  width: 100%;
  height: 100%;
}
.trends .trends-item-large-preview {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  grid-area: prev;
  z-index: -80;
}
.trends .trends-item-large-preview img {
  margin: 5px;
  width: calc(100% - 10px);
  aspect-ratio: 16/9;
}
.trends .trends-item h2 {
  grid-area: bot-right;
  margin-inline: 20px;
  font-weight: bold;
  align-self: end;
}
.trends .trends-item h3 {
  grid-area: bot-right2;
  margin-inline: 20px;
  font-size: 1em;
  font-weight: 100;
}
.trends .trends-item .tag-list {
  grid-area: top-right;
  align-self: center;
  margin-inline: 20px;
  display: flex;
  gap: 15px;
}
.trends .trends-item-thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: contain;
  z-index: -50;
}
.trends .trends-item .shadow {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent, black);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
  will-change: opacity;
  opacity: 0.6;
  z-index: -40;
  transition: 1s;
  border: transparent solid 1px;
  pointer-events: none;
}
.trends .trends-item:hover .shadow {
  opacity: 0.8;
  border: #FFD369 solid 1px;
}

.avatar {
  grid-area: bot-left;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #FFD369;
  width: 60px !important;
  height: 60px !important;
  aspect-ratio: 1 !important;
}

.tag {
  border: 1px solid #d0d0d0;
  background: hsl(from #d0d0d0 h s l/0.3);
  border-radius: 50px;
  padding-inline: 20px;
  text-decoration: none;
  cursor: pointer;
  color: #d0d0d0;
}

.search {
  margin: 20px;
  position: sticky;
  top: 90px;
}
.search-filter, .search-input {
  font-size: 1.6em;
  font-family: jakarta, sans-serif;
  color: #393E46;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 50px;
  background: #d0d0d0;
}

.gallery {
  padding-bottom: 300px;
  --gallery-elem-size: 24vw;
}
.gallery:has(.filters:hover) {
  --gallery-elem-size: 266px;
}
.gallery .grid {
  display: grid;
  gap: 5px;
  grid-template-areas: "a c" "a b";
  grid-template-columns: auto 12fr;
  grid-template-rows: 55px 8fr;
}
.gallery .filters {
  z-index: 900;
  position: sticky;
  color: #393E46;
  top: 90px;
  left: 0;
  height: 50px;
  width: 100px;
  background: #d0d0d0;
  grid-area: a;
  border-radius: 0 50px 50px 0;
  margin-left: 20px;
  margin-right: -40px;
  margin-top: 20px;
  transition: all 0.25s ease-in-out, border-radius 0.5s ease-in-out, margin 0.35s ease-in-out;
}
.gallery .filters .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 2.5em;
  margin-top: 5px;
  margin-left: 15px;
}
.gallery .filters:after {
  transition: all 0.45s ease-in-out;
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  height: 0px;
  background: #d0d0d0;
  width: 0px;
  border-radius: 0 0 0 0;
}
.gallery .filters .filterList {
  display: none;
  position: absolute;
  list-style: none;
  top: 100px;
  left: 20px;
  font-size: 2.8em;
}
.gallery .filters .filterList a, .gallery .filters .filterList li {
  transition: border-bottom 300ms, border-right 1300ms;
  color: #393E46;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.gallery .filters .filterList a:hover, .gallery .filters .filterList li:hover {
  color: #191B1E;
  border-bottom: 2px solid #191B1E;
}
.gallery .filters:hover {
  height: 60px;
  width: 200px;
  border-radius: 0 30px 0 0;
  margin-right: 290px;
}
.gallery .filters:hover .filterList {
  display: list-item;
  z-index: 950;
}
.gallery .filters:hover:after {
  top: 50px;
  left: 0;
  height: 600px;
  width: 200%;
  border-radius: 0 30px 30px 0;
}
.gallery .search-input {
  z-index: 900;
  margin-top: 20px;
  position: sticky;
  top: 90px;
  height: 50px;
  width: 500px;
  background: #444;
  grid-area: c;
  border-radius: 50px;
  color: #393E46;
  background: #d0d0d0;
  border: 1px #393E46 solid;
}
.gallery .mini-grid {
  margin-top: 40px;
  margin-left: -65px;
  grid-area: b;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(auto-fit, minmax(var(--gallery-elem-size), 1fr));
  justify-content: space-evenly;
  justify-items: start;
}
.gallery .grid-elem {
  transition: 0.6s;
  width: var(--gallery-elem-size);
  aspect-ratio: 1;
  background: #222;
  display: grid;
  overflow: clip;
  position: relative;
  --overlay: rgba(0, 0, 0, 0.75);
}
.gallery .grid-elem * {
  grid-area: 1/1;
}
.gallery .grid-elem:before {
  transition: --overlay 1s;
  position: absolute;
  content: "";
  background: linear-gradient(to top, var(--overlay) 10%, rgba(0, 0, 0, 0) 60%), linear-gradient(to bottom, var(--overlay) 5%, rgba(0, 0, 0, 0) 60%);
  height: 100%;
  width: 100%;
}
.gallery .grid-elem h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.gallery .grid-elem h3 {
  position: absolute;
  bottom: 50px;
  left: 10px;
}
.gallery .grid-elem .tags {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  height: 25px;
  gap: 15px;
  opacity: 0.4;
}
.gallery .grid-elem .avatar {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.gallery .grid-elem:hover:before {
  --overlay: red;
}
.gallery .grid-elem .thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
