@import "_variables";
@import "_typography";



//#region trending
.trends {
  margin-inline: $margins;
  margin-top: 50px;

  &-grid {
    //display: grid;
    //grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    //grid-template-columns: 3fr 2fr 2fr 2fr;

    display: flex;
    gap: $margins;
    justify-content: space-between;
  }

  .trends-item {
    display: grid;
    justify-items: end;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 3fr 2fr 8fr 3fr 2fr;
    grid-template-areas:  "top-right top-right"
                          "top-left top-right2"
                          "mid-left mid-right"
                          "bot-left bot-right"
                          "bot-left bot-right2";
    position: relative;
    height: 270px;
    overflow: hidden;
    max-width: 450px;
    min-width: 350px;

    &-large {
      max-width: 720px;
      min-width: 550px;
      grid-template-columns: 2fr 8fr 3fr;
      grid-template-rows:    3fr 2fr 8fr 3fr 2fr;
      grid-template-areas:    "top-right top-right prev"
                              "top-left top-right2 prev"
                              "mid-left mid-right prev"
                              "bot-left bot-right prev"
                              "bot-left bot-right2 prev";
      border: 1px solid $accent-500;

      img{
        //display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .trends-item-thumb{
        grid-column: 1/3;
        grid-row: 1/6;
        img{
          width: 100%;
          height: 100%;
        }
      }
      &-preview {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        grid-area: prev;
        z-index: -80;
        img{
          margin: 5px;
          width: calc(100% - 10px);
          aspect-ratio: 16/9;
        }

      }
    }

    h2 {
      grid-area: bot-right;
      margin-inline: $margins;
      font-weight: bold;
      align-self: end;
    }

    h3 {
      grid-area: bot-right2;
      margin-inline: $margins;
      font-size: 1em;
      font-weight: 100;
    }

    .tag-list {
      grid-area: top-right;
      align-self: center;
      margin-inline: $margins;
      display: flex;
      gap: 15px;
    }

    &-thumb {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: contain;
      z-index: -50;
    }

    .shadow {
      display: flex;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, black, transparent, black);
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 6;
      will-change: opacity;
      opacity: 0.6;
      z-index: -40;
      transition: 1s;
      border: transparent solid 1px;
      pointer-events: none;
    }

    &:hover {
      .shadow {
        opacity: 0.8;
        border: $accent-500 solid 1px;
      }
    }


  }
}

.avatar {
  grid-area: bot-left;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid $accent-500;
  width: 60px !important;
  height: 60px !important;
  aspect-ratio: 1 !important;
}

.tag {
  border: 1px solid $light-500;
  background: color-opacity($light-500, 0.3);
  border-radius: 50px;
  padding-inline: 20px;
  text-decoration: none;
  cursor: pointer;
  color: $light-500;
}

//#endregion

//#region search bar
.search {
  margin: $margins;
  position: sticky;
  top: 90px;

  &-filter, &-input {
    @include font_ui_element(1.6em, $drk-sub-500);
    padding: 10px 40px;
    border-radius: 50px;
    background: $light-500;
  }
}

//#endregion

//#region gallery
.gallery {
  //height: 5000px;
  padding-bottom: 300px;
  $filter-btn-width: 100px;
  $round-opened: 30px;
  --gallery-elem-size: 24vw;

  &:has(.filters:hover) {

    --gallery-elem-size: 266px;
  }

  .grid {
    display: grid;
    gap: 5px;
    grid-template-areas:  "a c"
                          "a b";
    grid-template-columns: auto 12fr;
    grid-template-rows:55px 8fr;
  }

  .filters {
    .material-symbols-outlined {
      font-variation-settings: 'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
      font-size: 2.5em;
      margin-top: 5px;
      margin-left: 15px;
    }
    z-index: 900;
    position: sticky;
    color: $drk-sub-500;
    top: $searchbar-stick-top;
    left: 0;
    height: 50px;
    width: $filter-btn-width;
    background: $light-500;
    grid-area: a;
    border-radius: 0 50px 50px 0;
    margin-left: $margins;
    margin-right: -40px;
    margin-top: 20px;
    transition: all 0.25s ease-in-out,
    border-radius 0.5s ease-in-out,
    margin 0.35s ease-in-out;

    &:after {
      transition: all .45s ease-in-out;
      content: '';
      position: absolute;
      top: 50px;
      left: 0;
      height: 0px;
      background: $light-500;
      width: 0px;
      border-radius: 0 0 0 0;
    }
    .filterList{
      display: none;
      position: absolute;
      list-style: none;
      top: 100px;
      left: 20px;
      font-size: 2.8em;
      a, li{
        transition:   border-bottom  300ms
                      ,border-right  1300ms;
        color: $drk-sub-500;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        &:hover{
          color: $bg-drk-500;
          border-bottom: 2px solid $bg-drk-500;
        }

      }
    }

    &:hover {
      height: 60px;
      width: 200px;
      //border-radius: 30px;
      border-radius: 0 $round-opened 0 0;
      margin-right: calc($margins * 2 + $filter-btn-width + 150px);

      .filterList{
        display: list-item;
        z-index: 950;
      }
      &:after {
        //transform: scaleY(10);
        top: 50px;
        left: 0;
        height: 600px;
        width: 200%;
        border-radius: 0 $round-opened $round-opened 0;
      }
    }
  }

  .search-input {
    z-index: 900;
    margin-top: 20px;
    position: sticky;
    top: $searchbar-stick-top;
    height: 50px;
    width: 500px;
    background: #444;
    grid-area: c;
    border-radius: 50px;
    color: $drk-sub-500;
    background: $light-500;
    border: 1px $drk-sub-500 solid;
  }

  .mini-grid {
    margin-top: 40px;
    margin-left: calc(($margins * -2 - $filter-btn-width)/2 + 5px);

    grid-area: b;
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(auto-fit, minmax(var(--gallery-elem-size), 1fr));
    justify-content: space-evenly;
    justify-items: start;
  }

  .grid-elem {
    transition: .6s;
    width: var(--gallery-elem-size);
    aspect-ratio: 1;
    background: #222;
    display: grid;
    overflow: clip;
    position: relative;

    * {
      grid-area: 1/1;
    }


    $overlay: rgba(0, 0, 0, 0.76);
    --overlay: rgba(0, 0, 0, 0.75);
    &:before {
      transition: --overlay 1s;
      position: absolute;
      content: "";
      background: linear-gradient(to top, var(--overlay) 10%, rgba(0, 0, 0, 0) 60%),
                  linear-gradient(to bottom, var(--overlay) 5%, rgba(0, 0, 0, 0) 60%);
      height: 100%;
      width: 100%;
    }

    h2 {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
    h3 {
      position: absolute;
      bottom: 50px;
      left: 10px;
    }

    .tags {
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      height: 25px;
      gap: 15px;
      opacity: 0.4;
    }
    .avatar{
      position: absolute;
      right: 10px;
      bottom: 10px;
    }

    &:hover {
      //background: $accent-500;

      &:before {
        --overlay: red;
      }
    }

    .thumb {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

//#endregion
